@model List<Game>
<a class="btn btn-primary" asp-area="" asp-controller="Game" asp-action="Create">Add new game</a>
@{
    ViewData["Title"] = "Game|Index";
}

@if (!Model.Any())
{
    <div class="alert alert-warning mt-5">
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0"> There is no games yet <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
    </div>
}
else
{
    <div class="mt-5">
        <table class="table table-bordered border-primary">
            @foreach (var g in Model)
            {
                <tr class="border-1 border-primary">
                    <td>
                        <div class="d-flex">
                            <div class="pe-4">
                                <img src=@($"{Settings.filePath}/{@g.Cover}") alt="@g.Name" style="max-height:80px;max-width:70px" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="text-light">@g.Name</h4>
                                <p class="text-bg-dark">@g.Category.Name</p>

                            </div>

                        </div>
                    </td>
                    <td class="align-middle">
                        <div class="d-flex justify-content-end ">
                            <a class="btn btn-info rounded rounded-3 me-4" asp-controller="Game" asp-action="Details" asp-route-id="@g.Id">Details</a>
                            <a class="btn btn-primary rounded rounded-3 me-4" asp-controller="Game" asp-action="Edit" asp-route-id="@g.Id">Edit</a>
                            <a href="javascript:;" class="btn btn-danger rounded rounded-3 del" data-id="@g.Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
}
@section Scripts
{
    <script src="~/js/deletegame.js"></script>
}

